


   

.body { 
	background-color:rgb(66, 13, 13);
    position: relative;
    width: auto;
    height: 1400pt;
    margin: 0px;
    overflow: scroll;
    overflow-x: hidden;

   

   


}

.topo_1{ 
/* Topo */


position: absolute;
width: 100%;
height: 90px;
left: 0px;
right: 0px;
top: 0px;

background: #A80532;
transform: matrix(1, 0, 0, -1, 0, 0);

}

.home{
    /* Home */
position: absolute;
width: 441px;
height: 37px;
left: 58px;
top: 30px;
}
.home2{
    /* Home2 */


position: absolute;
width: 94px;
height: 37px;
left: 58px;
top: 30px;

font-family: 'Ovo';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 34px;

color: #FFFFFF;
}
.vestibular{
    /* Vestibular Fatec */


position: absolute;
width: 215px;
height: 37px;
left: 171px;
top: 30px;

font-family: 'Ovo';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 34px;

color: #FFFFFF;
}
.siga{
    position: absolute;
    width: 94px;
    height: 37px;
    left: 405px;
    top: 30px;
    
    font-family: 'Ovo';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 34px;
    
    color: #FFFFFF;
}
.redes{
/* Redes_sociais */


position: absolute;
width: 210px;
height: 70px;
left: 536px;
top: 21px;

}
.facebook{
    /* facebook */


position: absolute;
width: 48px;
height: 48px;
left: 10px;
top: 0px;

background: url(img/facebook.png);
}
.linkedin{
    /* facebook */


position: absolute;
width: 48px;
height: 48.11px;
left: 80px;
top: 0px;

background: url(img/linkedin.png);
}

.wpp{
    /* wpp */


position: absolute;
width: 48px;
height: 48px;
left: 150px;
top: 0px;

background: url(img/wpp.png);
}

.cadastro{
/* Cadastro */


position:static;
width:auto;
height: 56px;
right: 102px;
top: 0px;


}
.cad_emp2_frame{
/* cad_emp2_frame */


box-sizing: border-box;

position: absolute;
width: 280px;
height: 46px;
right: 309.04px;
top: 20px;

background: #FFFFFF;
border: 2px solid #F4F0F0;
border-radius: 80px;
}
.cad_emp2{
/* cad_emp2 */


position: absolute;
width: 276.02px;
height: 47px;
right: 290.02px;
top: 29px;

font-family: 'Ovo';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 29px;

color: #A80532;


}

.cad_aluno{
/* cad_aluno */


position: absolute;
width: 276.02px;
height: 47px;
right: 2px;
top: 29px;

font-family: 'Ovo';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 29px;

color: #FFFFFF;

}
.cad_aluno_frame{
/* cad_aluno_frame */

box-sizing: border-box;

position: absolute;
width: 280px;
height: 46px;
right: 20px;
top: 20px;

border: 2px solid #F4F0F0;
border-radius: 80px;
}

/* -------------------------------------------------------------------------------------------*/
.topo_2
{
    /* topo_2 */


position: absolute;
width: 100%;
height: 46px;
left: 237px;
top: 68pt;

background: #333333;

}
.cursos{
    /* cursos */


position: absolute;
width: 81px;
height: 29px;
left: 35px;
top: 9px;

font-family: 'Ovo';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 29px;

color: #FFFFFF;

}
.documentos{
    /* documentos */


position: absolute;
width: 145px;
height: 29px;
left: 140px;
top: 9px;

font-family: 'Ovo';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 29px;

color: #FFFFFF;

}
.estagio{
    /* estagio */


position: absolute;
width: 83px;
height: 29px;
left: 309px;
top: 9px;

font-family: 'Ovo';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 29px;

color: #FFFFFF;

}

.vaga_emprego{
    /* vaga_emprego */


position: absolute;
width: 211px;
height: 29px;
left: 416px;
top: 9px;

font-family: 'Ovo';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 29px;

color: #FFFFFF;
}

.login{
    /* login */


position: absolute;
width: 85.84px;
height: 38.96px;
right: 187pt;
top: 10px;

font-family: 'Ovo';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 29px;

color: #FFFFFF;
}

.login_frame{
    /* login_frame */


box-sizing: border-box;

position: absolute;
width: 87.08px;
height: 38.13px;
right: 195pt;
top: 4px;

border: 2px solid #F4F0F0;
border-radius: 80px;
}
/*-----------------------------------------------------------------------------------------------*/
.logo{
    /* logo */


position: absolute;
width: 237px;
height: 136px;
left: 0pt;
top: 90px;

background-image: url(/img/logo.png);}
/*----------------------------------------------------------------------------------------------------*/
.topo_3{
    /* topo_3 */


position: absolute;
width: 100%;
height: 90px;
left: 178pt;
right: 0px;
top: 136px;

background: rgba(48, 48, 48, 0.9);
backdrop-filter: blur(4px);
/* Note: backdrop-filter has minimal browser support */

}

.cargo{
    /* cargo */


position: absolute;
width: 348pt;
height: 34px;
right: 340pt;
top: 33px;

font-family: 'Ovo';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 29px;

color: #A80532;
}
.cargo_frame{
    /* cargo_frame */


box-sizing: border-box;

position: absolute;
width: 550pt;
height: 46px;
right: 195pt;
top: 25px;

background: #FFFFFF;
border: 2px solid #F4F0F0;
border-radius: 80px;
}

.lupa{
    /* lupa */


position: absolute;
width: 40px;
height: 40px;
left: 10pt;
top: 2px;

background-image: url(/img/lupa.png);
}

.body2{
    /* body2 */


position: absolute;
width: 2000px;
height: 100%;
left: 0px;
top: 169pt;

background: #F7EEEE;
backdrop-filter: blur(4px);
/* Note: backdrop-filter has minimal browser support */
}

.body3{
    /* body3 */


position: absolute;
width: 100%;
height: 100%;
left: 0px;
top: 169pt;

background: #F7EEEE;
backdrop-filter: blur(4px);
/* Note: backdrop-filter has minimal browser support */
}
.i-fig01{
    /* figura02 1 */


position: absolute;
width: 815px;
height: 504px;



background: url(img/i-fig01.png);
}

.i-text{
    /* Conectamos alunos e empresas */


    position: absolute;
    width: 455px;
    height: 124px;
    left: 885px;
    top: 85px;
    
    font-family: 'Ovo';
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 62px;
    text-align: center;
    
    color: #000000;
}

.i-text2{
    /* Aprimoramos o processo de recrutamento e seleção com intuito de promover uma experiência positiva */


    position: absolute;
    width: 431px;
    height: 144px;
    left: 891px;
    top: 252px;
    
    font-family: 'Ovo';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    text-align: center;
    
    color: #000000;
}

.i-text3{
    /* Oportunidades. Mais rápido, mais simples e mais perto de você. */


position: absolute;
width: 839px;
height: 104px;
left: 46px;
top: 615px;

font-family: 'Ovo';
font-style: normal;
font-weight: 400;
font-size: 46px;
line-height: 52px;
text-align: center;

color: #000000;
}

.i-text4{
    /* Desde a nossa fundação, conectamos indivíduos e empresas oferecendo uma infinidade de opções. Nesta era de busca, onde a informação está disponível a qualquer hora e em qualquer lugar, precisamos nos concentrar mais em propor a escolha ideal. Buscamos oferecer “Oportunidades para a Vida” muito mais rápido, surpreendentemente mais simples e mais próximo do que nunca. */


position: absolute;
width: 859px;
height: 174px;
left: 46px;
top: 737px;

font-family: 'Ovo';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 29px;
text-align: center;

color: #000000;
}
.i-fig03{
    /* figura24 1 */


position: absolute;
width: 340px;
height: 542px;
left: 976px;
top: 627px;

background: url(img/i-fig03.png);
}
.i-fig02{
    /* figura09 1 */


position: absolute;
width: 864px;
height: 237px;
left: 58px;
top: 945px;

background: url(img/i-fig02.png);
}
.i-fig04{
    /* figura26 1 */


position: absolute;
width: 654px;
height: 418px;
left: 30px;
top: 1343px;

background: url(img/i-fig04.png);
}

.i-text5{
    /* De dentro para fora */


    position: absolute;
    width: 504px;
    height: 52px;
    left: 812px;
    top: 1382px;
    
    font-family: 'Ovo';
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 52px;
    /* identical to box height */
    
    text-align: right;
    
    color: #000000;

}

.i-text6{
    /* De dentro para fora é onde contamos histórias e compartilhamos conteúdos que não podem ser transmitidas apenas por números. */


position: absolute;
width: 622px;
height: 87px;
left: 694px;
top: 1505px;

font-family: 'Ovo';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 29px;
text-align: right;

color: #000000;
}

.i-text7{
    /* clique aqui e aproveite o momento */


position: absolute;
width: 400px;
height: 46px;
left: 916px;
top: 1681px;

font-family: 'Ovo';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 29px;
text-align: right;

color: #000000;

}

.final{
    /* topo_3 */


position: absolute;
width: 100%;
height: 90px;
left: 0px;
top: 1780px;

background: rgba(48, 48, 48, 0.9);
backdrop-filter: blur(1px);
/* Note: backdrop-filter has minimal browser support */


}

/*----------------------------------------------DOCUMENTOS------------------------------------------*/

.e-titulo{
    /* t_estagios */


    position: absolute;
    width: 583px;
    height: 54px;
    left: 419px;
    top: 48px;
    
    font-family: 'Ovo';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 54px;
    /* identical to box height */
    
    
    color: #000000;
}

.e-fig01{
    /* image 18 */

    position: absolute;
    width: 155px;
    height: 164px;
    left: 96px;
    top: 90px;
    

background: url(img/e-fig01.png);
}
.e-fig02{
    /* image 19 */


position: absolute;
width: 128px;
height: 128px;
left: 804px;
top: 208px;

background: url(img/e-fig02.png)
}
.e-fig03{
    /* image 20 */


position: absolute;
width: 128px;
height: 128px;
left: 879px;
top: 510px;

background: url(img/e-fig03.png);
}
.e-fig04{
    /* Vector 2 */


position: absolute;
width: 792px;
height: 411px;
left: 153px;
top: 159px;

opacity: 0.3;
border: 15px solid #000000;
backdrop-filter: blur(4px);
background: url(img/e-fig04.png);
/* Note: backdrop-filter has minimal browser support */
}
.e-text01{
    /* O estágio é um passo muito importante, é onde se conecta a experiência universitária a profissional. */


position: absolute;
width: 450px;
height: 166px;
left: 210px;
top: 199px;

font-family: 'Ovo';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 36px;
text-align: center;

color: #000000;
}
.e-text02{
    /* Um estágio pode oferecer oportunidades únicas de aprendizado fora dos ambientes acadêmicos. */


position: absolute;
width: 448px;
height: 152px;
left: 940px;
top: 184px;

font-family: 'Ovo';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 36px;
text-align: center;

color: #000000;
}

.e-text03{
    /* O que é Estágio? */


    position: absolute;
    width: 619px;
    height: 90px;
    left: 41px;
    top: 380px;
    
    font-family: 'Ovo';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 90px;
    /* identical to box height */
    
    text-align: center;
    
    color: #000000;
}

.e-text04{
    /* Obter experiência de trabalho é um aspecto essencial para iniciar sua carreira profissional */


    position: absolute;
    width: 440px;
    height: 108px;
    left: 408px;
    top: 605px;
    
    font-family: 'Ovo';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    text-align: center;
    
    color: #000000;

}

.e-text05{
    /* Os requisitos para a realização de um estágio */


position: absolute;
width: 967px;
height: 54px;
left: 204px;
top: 769px;

font-family: 'Ovo';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 54px;
/* identical to box height */


color: #000000;

}

.e-text06{
    position: absolute;
width: 1078px;
height: 648px;
left: 181px;
top: 923px;

font-family: 'Ovo';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 36px;

color: #000000;
}

.e-botao{
    /* ENCONTRE AQUI VAGAS DE ESTÁGIOS */


position: absolute;
width: 753px;
height: 36px;
left: 299px;
top: 1630px;

font-family: 'Ovo';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 36px;
/* identical to box height */

text-align: center;

color: #000000;
}
.e-botaof{
    /* Rectangle 4 */


position: absolute;
width: 869px;
height: 114px;
left: 253px;
top: 1620px;

background: #F59595;
border-radius: 50px;
}

/*-----------------------------------------------------VAGAS--------------------------------------------*/

.v-quadrado01{
    /* Rectangle 9 */


    position: absolute;
    width: 395px;
    height: 551px;
    left: 18px;
    top: 64px;

background: #A80532;
border-radius: 50px;
}

.v-text01{
    /* ESTAMOS CONTRATANDO */


position: absolute;
width: 338px;
height: 29px;
left: 58px;
top: 93px;

font-family: 'Ovo';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 29px;

color: #FFFFFF;

}

.v-linha{
/* Line 11 */


position: absolute;
width: 301px;
height: 0px;
left: 65px;
top: 134px;

border: 4px solid #D9D9D9;
}
.v-text02{
    /* ESTÁGIO T.I */


position: absolute;
width: 153px;
height: 29px;
left: 143px;
top: 149px;

font-family: 'Ovo';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 29px;

color: #FFFFFF;
}

.v-text03{
    /* Tecnologia da Informação */


position: absolute;
width: 299px;
height: 32px;
left: 75px;
top: 195px;

font-family: 'Ovo';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 29px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;
}
.v-text04{
    /* Itapira -SP */


position: absolute;
width: 131px;
height: 29px;
left: 165px;
top: 273px;

font-family: 'Ovo';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 29px;

color: #FFFFFF;

}

.v-text05{
    /* LABORATÓRIO CRISTÁLIA */


    position: absolute;
    width: 359px;
    height: 29px;
    left: 36px;
    top: 352px;
    
    font-family: 'Ovo';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 29px;
    text-align: center;
    
    color: #FFFFFF;
    
}
.v-text06{
    /* #TimeCristalia */


position: absolute;
width: 186px;
height: 29px;
left: 37px;
top: 443px;

font-family: 'Ovo';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 29px;

color: #FFFFFF;

}
.v-text07f{
    /* Rectangle 4 */


position: absolute;
width: 267px;
height: 62px;
left: 75px;
top: 503px;

background: #F59595;
border-radius: 50px;
}

.v-text07{
 /* INSCREVA-SE */


position: absolute;
width: 231px;
height: 28px;
left: 86px;
top: 521px;

font-family: 'Ovo';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 22px;
text-align: center;

color: #000000;
}

.v-quadrado11{
    /* Rectangle 10 */


position: absolute;
width: 395px;
height: 551px;
left: 517px;
top: 64px;

background: #A80532;
border-radius: 50px;
}
.v-text11{
    /* ESTAMOS CONTRATANDO */


position: absolute;
width: 339px;
height: 29px;
left: 555px;
top: 96px;

font-family: 'Ovo';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 29px;

color: #FFFFFF;
}
.v-linha2{
    /* Line 12 */


position: absolute;
width: 301px;
height: 0px;
left: 563px;
top: 134px;

border: 4px solid #D9D9D9;
}

.v-text12{
    /* ESTÁGIO PRODUÇÃO */


position: absolute;
width: 286px;
height: 34px;
left: 586px;
top: 149px;

font-family: 'Ovo';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 29px;

color: #FFFFFF;
}
.v-text13{
    /* Gestão da Produção Industrial */

    position: absolute;
    width: 353px;
    height: 32px;
    left: 558px;
    top: 198px;
    
    font-family: 'Ovo';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFFFFF;
}

.v-text14{
    /* Itapira -SP */


position: absolute;
width: 131px;
height: 29px;
left: 654px;
top: 273px;

font-family: 'Ovo';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 29px;

color: #FFFFFF;
}

.v-text15{
    /* PENHA */


position: absolute;
width: 131px;
height: 29px;
left: 647px;
top: 358px;

font-family: 'Ovo';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 29px;
text-align: center;

color: #FFFFFF;

}

.v-text16{
    /* Venha ser Penha */


position: absolute;
width: 200px;
height: 29px;
left: 541px;
top: 451px;

font-family: 'Ovo';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 29px;
text-align: center;

color: #FFFFFF;
}

.v-text17f{
    /* Rectangle 12 */


position: absolute;
width: 267px;
height: 62px;
left: 586px;
top: 504px;

background: #F59595;
border-radius: 50px;
}

.v-text17{
    /* INSCREVA-SE */


position: absolute;
width: 231px;
height: 28px;
left: 597px;
top: 522px;

font-family: 'Ovo';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 22px;
text-align: center;

color: #000000;
}

.v-quadrado21{
    /* Rectangle 11 */


position: absolute;
width: 395px;
height: 551px;
left: 1003px;
top: 64px;

background: #A80532;
border-radius: 50px;
}

.v-text21{
/* ESTAMOS CONTRATANDO */


position: absolute;
width: 327px;
height: 29px;
left: 1037px;
top: 93px;

font-family: 'Ovo';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 29px;

color: #FFFFFF;

}

.v-linha3{
    /* Line 13 */


position: absolute;
width: 301px;
height: 0px;
left: 1042px;
top: 134px;

border: 4px solid #D9D9D9;
}

.v-text22{
    /* VAGA DESENVOLVEDOR WEB */


position: absolute;
width: 373px;
height: 34px;
left: 1016px;
top: 154px;

font-family: 'Ovo';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 29px;

color: #FFFFFF;
}

.v-text23{
    /* Desenvolvimento de Software Multiplataforma */


position: absolute;
width: 299px;
height: 45px;
left: 1045px;
top: 198px;

font-family: 'Ovo';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 29px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;

}

.v-text24{

    /* Itapira -SP */


position: absolute;
width: 131px;
height: 29px;
left: 1140px;
top: 280px;

font-family: 'Ovo';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 29px;

color: #FFFFFF;

}

.v-text25{

    /* COREY INFORMÁTICA & DESIGN */


position: absolute;
width: 386px;
height: 58px;
left: 1003px;
top: 352px;

font-family: 'Ovo';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 29px;
text-align: center;

color: #FFFFFF;

}
.v-text26{
    /* #coreyinformática */


position: absolute;
width: 218px;
height: 30px;
left: 1031px;
top: 444px;

font-family: 'Ovo';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 29px;
/* identical to box height */


color: #FFFFFF;

}

.v-text27f{
    /* Rectangle 14 */


position: absolute;
width: 267px;
height: 62px;
left: 1068px;
top: 504px;

background: #F59595;
border-radius: 50px;
}

.v-text27{
/* INSCREVA-SE */


position: absolute;
width: 231px;
height: 28px;
left: 1080px;
top: 521px;

font-family: 'Ovo';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 22px;
text-align: center;

color: #000000;
}

.v-cent{
left: 100px;
position: absolute;
flex: content;

}
/*------------------------------------------Documentos----------------------------------------------------*/
.d-fundo{
    /* figura 23 1 */


position: absolute;
width: 1440px;
height: 775px;
left: 0px;
top: 1px;

background: url(img/d-fig01.png);
}
.d-fig02{
    /* image 7 */


position: absolute;
width: 62px;
height: 62px;
left: 116px;
top: 60px;

background: url(image.png);
}

.d-fig03{
    /* d_leg_img */


position: absolute;
width: 62px;
height: 62px;
left: 116px;
top: 420px;

background: url(img/d-fig03.png);
}

.d-fig04{
    /* image 8 */


position: absolute;
width: 62px;
height: 62px;
left: 116px;
top: 609px;

background: url(img/d-fig04.png);
}

.dt01{
    /* Modelos de contratos */


position: absolute;
width: 323px;
height: 34px;
left: 203px;
top: 50px;

font-family: 'Ovo';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 34px;
/* identical to box height */


color: #000000;
}

.dt02{
    /* Convênio de Concessão de Estágio Profissionalizante (Convênio) */


position: absolute;
width: 934px;
height: 32px;
left: 206px;
top: 128px;

font-family: 'Ovo';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 32px;
/* identical to box height */


color: #000000;
}

.dt03{
   /* Termo de Compromisso de Estágio (TCE) */


position: absolute;
width: 934px;
height: 32px;
left: 206px;
top: 182px;

font-family: 'Ovo';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 32px;
/* identical to box height */


color: #000000; 
}

.dt04{
    /* Termo Aditivo do Termo de Compromisso de Estágio (Aditivo) */


position: absolute;
width: 934px;
height: 32px;
left: 206px;
top: 233px;

font-family: 'Ovo';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 32px;
/* identical to box height */


color: #000000;
}

.dt05{
    /* Termo Aditivo do Termo de Compromisso de Estágio - Somente para alteração do horário de estágio */


position: absolute;
width: 934px;
height: 64px;
left: 206px;
top: 283px;

font-family: 'Ovo';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 32px;

color: #000000;
}

.dt06{
    /* Termo de Rescisão do Termo de Compromisso de Estágio */


position: absolute;
width: 934px;
height: 32px;
left: 206px;
top: 363px;

font-family: 'Ovo';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 32px;
/* identical to box height */


color: #000000;

}

.dt07{
    /* d_leg */


position: absolute;
width: 323px;
height: 34px;
left: 214px;
top: 418px;

font-family: 'Ovo';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 34px;
/* identical to box height */


color: #000000;

}

.dt08{
    /* Lei do Estágio */


position: absolute;
width: 934px;
height: 32px;
left: 206px;
top: 499px;

font-family: 'Ovo';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 32px;
/* identical to box height */


color: #000000;
}

.dt09{
    /* Cartilha esclarecedora sobre a Lei do Estágio */


position: absolute;
width: 934px;
height: 32px;
left: 206px;
top: 549px;

font-family: 'Ovo';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 32px;
/* identical to box height */


color: #000000;
}

.dt10{
    /* d_leg */


position: absolute;
width: 323px;
height: 34px;
left: 204px;
top: 600px;

font-family: 'Ovo';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 34px;
/* identical to box height */


color: #000000;

}

.dt11{

    /* Termo de Realização do Estágio */


position: absolute;
width: 934px;
height: 32px;
left: 206px;
top: 679px;

font-family: 'Ovo';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 32px;
/* identical to box height */


color: #000000;

}

.dt12{
    /* Convênio firmados com a Fatec Itapira */


position: absolute;
width: 934px;
height: 32px;
left: 206px;
top: 725px;

font-family: 'Ovo';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 32px;
/* identical to box height */


color: #000000;

}
/*--------------------------------------LOGIN----------------------------------------------------------*/
.lt01{
    /* SEJA BEM-VINDO!! */

    position: absolute;
    width: 432px;
    height: 41px;
    left: 33px;
    top: 27px;
    
    font-family: 'Ovo';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 54px;
    
    color: #000000;
}
.lt02{
    /* SELECIONE SEU TIPO DE LOGIN: */


position: absolute;
width: 627px;
height: 63px;
left: 68px;
top: 146px;

font-family: 'Ovo';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 45px;

color: #000000;

}
.lfig01{
    /* image 31 */


    position: absolute;
    width: 200px;
    height: 199.24px;
    left: 13px;
    top: 267px;
    
    background: url(image.png);
    border: 3px solid rgba(0, 0, 0, 0.3);
}
.lfig02{
/* image 32 */


position: absolute;
width: 200px;
height: 195px;
left: 254px;
top: 271px;

background: url(image.png);
border: 3px solid rgba(0, 0, 0, 0.3);
}

.lfig03{
    /* image 33 */


    position: absolute;
    width: 200px;
    height: 191px;
    left: 495px;
    top: 273px;
    
    background: url(image.png);
    border: 3px solid rgba(0, 0, 0, 0.3);
}
.lt03{
/* ALUNO */


position: absolute;
width: 105px;
height: 34px;
left: 60px;
top: 480px;

font-family: 'Ovo';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 34px;
/* identical to box height */


color: #000000;
}
.lt04{
/* FATEC */


position: absolute;
width: 93px;
height: 34px;
left: 307px;
top: 480px;

font-family: 'Ovo';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 34px;
/* identical to box height */


color: #000000;
}
.lt05{
/* EMPRESA */


position: absolute;
width: 133px;
height: 34px;
left: 528px;
top: 480px;

font-family: 'Ovo';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 34px;
/* identical to box height */


color: #000000;


}
.llogin01{
/* Rectangle 21 */


position: absolute;
width: 638px;
height: 665px;
left: 797px;
top: 1px;

background: #E72E61;
}
.llogin02{
    /* image 30 */


position: absolute;
width: 638px;
height: 205px;
left: 797px;
top: 1px;


}
.llogin03{
    /* E-mail */


    position: absolute;
    width: 147px;
    height: 38px;
    left: 874px;
    top: 247px;
    
    font-family: 'Ovo';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 39px;
    text-align: center;
    
    color: #FFFFFF;
}
.llogin04{
    /* Rectangle 15 */


    position: absolute;
    width: 478px;
    height: 54px;
    left: 874px;
    top: 320px;
    
    background: #F59595;
    border-radius: 50px;
}
.llogin05{
/* Senha */


position: absolute;
width: 135px;
height: 38px;
left: 874px;
top: 367px;

font-family: 'Ovo';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 39px;
text-align: center;

color: #FFFFFF;
}
.llogin06{
    /* Rectangle 22 */


position: absolute;
width: 478px;
height: 53px;
left: 874px;
top: 441px;

background: #F59595;
border-radius: 50px;
}
.llogin07{
    /* Esqueci minha senha */


position: absolute;
width: 199px;
height: 31px;
left: 877px;
top: 475px;

font-family: 'Ovo';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 22px;
text-align: center;

color: #FFFFFF;
}

.llogin08{
    /* Rectangle 23 */


position: absolute;
width: 231px;
height: 64px;
left: 1004px;
top: 564px;

background: #F59595;
border-radius: 50px;
}
.llogin09{
    /* Entrar */


position: absolute;
width: 147px;
height: 25px;
left: 1039px;
top: 541px;

font-family: 'Ovo';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 39px;
text-align: center;

color: #F4F0F0;

}
.llogin10{
    /* Rectangle 24 mascara*/


    position: absolute;
    width: 643px;
    height: 670px;
    left: 797px;
    top: -2px;
    
    background: rgba(3, 3, 3, 0.8);
}
.lfig01mod{
    /* image 31 */


position: absolute;
width: 200px;
height: 199.24px;
left: 13px;
top: 267px;

background: url(image.png);
border: 3px solid rgba(0, 0, 0, 0.3);
filter: blur(4px);
}
.lfig02mod{
/* image 32 */


position: absolute;
width: 200px;
height: 195px;
left: 254px;
top: 271px;

background: url(image.png);
border: 3px solid rgba(0, 0, 0, 0.3);
filter: blur(4px);
}

.lt03mod{
/* ALUNO */


position: absolute;
width: 105px;
height: 34px;
left: 60px;
top: 480px;

font-family: 'Ovo';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 34px;
/* identical to box height */


color: #000000;

opacity: 0.3;
    }
    .lt04mod{
/* FATEC */


position: absolute;
width: 93px;
height: 34px;
left: 307px;
top: 480px;

font-family: 'Ovo';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 34px;
/* identical to box height */


color: #000000;

opacity: 0.3;
    }